.button {
  padding: 1rem 2rem;
  width: fit-content;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #d10000;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    background-color: #f35d5d;
  }
}

.big {
  padding: 1rem 2rem;
}

.light {
  background-color: #ff8a8a;
}
