.suspended {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060606e1;
  color: #fff;

  .text {
    padding: 0 2rem;
    text-align: center;
  }
}
.accountOverview {
  background-color: rgb(241, 240, 240);
  padding: 1rem 8rem;
  @media screen and (max-width: 800px) {
    padding: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .personalInfo {
      display: flex;
      align-items: center;
      gap: 1rem;

      .photo {
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: none;

          @media screen and (max-width: 800px) {
          }
        }
      }
      .greeting {
        color: #060606;
        font-size: 0.8rem;
        @media screen and (max-width: 800px) {
          font-size: 0.65rem;
        }
        h2 {
          font-weight: 700;
        }
      }
    }

    .icon {
      color: #fff;
      background-color: rgb(252, 82, 82);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      @media screen and (max-width: 800px) {
        padding: 0.5rem;
        font-size: 0.9rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .balances {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      gap: 1rem 0;
      align-items: center;
    }
  }

  .bottomSection {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 2rem 0;
    }

    .transactions {
      background-color: #fff;
      padding: 1rem 2rem;
      border-radius: 5px;
      min-height: 10rem;
      height: fit-content;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      .heading {
        font-size: 0.7rem;
        text-align: center;
        color: #282727;
        h2 {
          font-weight: 500;
        }
      }

      .transactionsList {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
    .operations {
      justify-self: end;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media screen and (max-width: 800px) {
        justify-self: unset;
      }
    }
  }
}
