.main {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  position: relative;

  .contact_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #d10000;
    color: #fff;

    @media screen and (max-width: 800px) {
      display: none;
    }

    .first {
      display: flex;
      gap: 1rem;

      .info {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 0.9rem;
        cursor: pointer;
        .icon {
          color: #fff;
        }
      }
    }
    .second {
      display: flex;
      gap: 1rem;
      align-items: center;

      .link {
        text-decoration: none;
        color: #fff;
        font-size: 0.9rem;
      }
      .info {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 0.9rem;
        .icon {
          color: #fff;
        }
      }
    }
  }
  .main_nav {
    display: flex;
    width: 100%;
    padding: 1rem 5rem;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      padding: 1rem 1rem;
    }

    .logo_con {
      .logo {
        //! spcify size later
        width: 80px;
        @media screen and (max-width: 800px) {
          width: 100px;
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      @media screen and (max-width: 800px) {
        display: none;
      }
      .item {
        display: flex;
        flex-direction: column;

        a {
          color: black;
          font-size: 1rem;
          font-weight: 500;
          text-decoration: none;
          cursor: pointer;
        }
        .line {
          width: 0;
          height: 3px;
          background-color: #d10000;
          transition: 0.5s ease-in-out;
        }
        &:hover {
          a {
            color: #d10000;
          }
          .line {
            width: 20px;
          }
        }
      }
    }
    .btn_con {
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    .mobile {
      display: none;

      @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;

        .hamburger {
          padding: 0.5rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #d10000;

          &:hover {
            background-color: #f28585;
          }

          .icon {
            color: #fff;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .mobile_nav {
    display: none;

    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      animation-name: navbar;
      animation-duration: 1s;
      height: 20rem;
      background-color: #01949a;
      color: #fff;
      padding: 1rem;
      gap: 1.5rem;

      .item {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 0.9rem;
        }
      }
    }
  }
  @keyframes navbar {
    from {
      height: 0rem;
    }
    to {
      height: 20rem;
    }
  }
}
