.footer {
  background-color: rgb(18, 39, 71);
  padding: 1rem 0rem;
  //   color: #fff;
  .columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 6rem;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      padding: 1rem 2rem;
      gap: 2rem;
    }

    .info {
      .logo {
        .image {
          width: 100px;
        }
      }
      .description {
        margin-top: 1rem;
        font-size: 0.9rem;
        line-height: 1.8rem;
        color: rgb(210, 208, 208);
        font-weight: 500;
        @media screen and (max-width: 800px) {
          font-size: 0.8rem;
        }
      }

      .socials {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        @media screen and (max-width: 800px) {
          gap: 1rem;
        }

        .icon {
          color: rgb(41, 207, 151);
          background-color: rgba(9, 63, 145, 0.473);
          padding: 0.5rem;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
    .column {
      .heading {
        font-size: 0.8rem;
        color: #fff;
        @media screen and (max-width: 800px) {
          font-size: 0.6rem;
        }

        h2 {
          border-bottom: 4px solid rgb(41, 207, 151);
          width: fit-content;
          padding-bottom: 1rem;
          @media screen and (max-width: 800px) {
            border-bottom: 2px solid rgb(41, 207, 151);
          }
        }
      }
      .links {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .link {
          display: flex;
          gap: 0.5rem;
          font-size: 0.95rem;
          cursor: pointer;
          @media screen and (max-width: 800px) {
            font-size: 0.8rem;
          }

          .icon {
            color: rgb(41, 207, 151);
            font-weight: 500;
          }

          .text {
            color: #cbc6c6;
            font-weight: 500;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .subscription {
      .heading {
        font-size: 0.8rem;

        color: #fff;
        @media screen and (max-width: 800px) {
          font-size: 0.65rem;
        }

        h2 {
          border-bottom: 4px solid rgb(41, 207, 151);
          width: fit-content;
          padding-bottom: 1rem;
          @media screen and (max-width: 800px) {
            border-bottom: 2px solid rgb(41, 207, 151);
          }
        }
      }

      .description {
        margin-top: 2rem;
        color: #eae6e6;
        line-height: 1.7rem;
        font-size: 0.95rem;
        @media screen and (max-width: 800px) {
          font-size: 0.8rem;
          margin-top: 1rem;
        }
      }

      .input {
        margin-top: 2rem;
        @media screen and (max-width: 800px) {
          display: flex;
          justify-content: center;
        }
        input {
          padding: 0.8rem;
          background-color: rgb(247, 247, 250);
          outline: none;
          border: none;
          border-radius: 5px;
          color: #fff;
          font-weight: 500;
          font-size: 1rem;
          font-family: unset;
          width: 18rem;
          @media screen and (max-width: 800px) {
            width: 15rem;
            padding: 0.7rem;
            font-size: 0.8rem;
          }
        }
      }

      .button {
        margin-top: 2rem;
        @media screen and (max-width: 800px) {
          display: flex;
          justify-content: center;
        }
        button {
          outline: none;
          border: none;
          background-color: rgb(35, 148, 110);
          color: #fff;
          padding: 1rem;
          width: 18rem;
          font-size: 1.05rem;
          border-radius: 5px;
          cursor: pointer;
          @media screen and (max-width: 800px) {
            width: 15rem;
            padding: 0.7rem;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .line {
    height: 1px;
    width: 100%;
    background-color: #383737;
    margin-top: 5rem;
    @media screen and (max-width: 800px) {
      margin-top: 3rem;
    }
  }

  .rights {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 0.85rem;
    margin-top: 2rem;
    @media screen and (max-width: 800px) {
      font-size: 0.7rem;
    }
  }
}
